# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore all audio files by default
*.wav
*.mp3
__pycache__/
*.pyc
.DS_Store
MEMD_audio/
audio_wav/
features/
annotations/
