# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# --- Ensure these folders are tracked ---
!test_wav/
!audio_wav/
!audio/
!test_wav/**
!audio_wav/**
!audio/**